body {
  background: url(/img/excitebike.jpg);
}

div.container {
  position: relative;
}

div#game_over {
  text-align: center;
  background: black;
  color: white;
}

table.racer_table {
  position: absolute;
  top: 610px;
}

table.racer_table td {
  height: 50px;
  width: 50px;
  background: none;
  display:inline-block;
}

.strip:nth-child(1) td.active {
  background: url(/img/bike_red.png) no-repeat;
  padding: 5px 0;
}

.strip:nth-child(2) td.active {
  background: url(/img/bike_blue.png) no-repeat;
  padding: 5px 0;
}

.strip:nth-child(3) td.active {
  background: url(/img/bike_green.png) no-repeat;
  padding: 5px 0;
}

.strip:nth-child(4) td.active {
  background: url(/img/bike_yellow.png) no-repeat;
  padding: 5px 0;
}

input {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 0;
  margin: 10px auto;
}

input[type='submit'] {
  padding: 20px 50px;
  display: block;
}

label {
  display: inline-block;
  color: white;
}


div#main {
  background-image: url(/img/start.gif);
  background-repeat:no-repeat;
  background-position: center;
  background-color: #0012b0;
  height: 840px;
}

.welcome {
  padding-top: 28%;
  margin-left: 7%;
  /*padding-top:400px;
  margin-left: 100px;*/
}

div#login {
  margin-top: 400px ;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  background: none;
  font-family: 'Press Start 2P', cursive;
}

input[type="submit"]
{
  margin-left: 25% ;
}

input[type="text"]
{
  color: #f79b11;
}

div#victory_screen {
  background-image: url(/img/excitebike.gif);
  background-repeat:no-repeat;
  background-position: center;
  background-color: black;
  /*background-color: #0012b0;*/
  height: 950px;
}

div#game_over {
  margin-top: 400px ;
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  background: none;
  font-family: 'Press Start 2P', cursive;
}

div#game_over h1{
  /*font-size: 1em;*/
}

