<div class="container">
  <table class="racer_table">
    <tr class="strip" id="player1_strip">
      <td class="active"></td>
    </tr>
    <tr class="strip" id="player2_strip">
      <td class="active"></td>
    </tr>
    <tr class="strip" id="player3_strip">
      <td class="active"></td>
    </tr>
    <tr class="strip" id="player4_strip">
      <td class="active"></td>
    </tr>
  </table>
</div>
